Physioplan/src/evento.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EventoDiNavigazioneGUI">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicazione" type="xs:string"/>
                <xs:element name="IP" type="xs:string"/>
                <xs:element name="dataOra" type="xs:string"/>
                <xs:element name="etichetta" type="xs:string"/>        
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>